//Importando Fuentes
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/variables';
@import 'partials/base';

@import 'modules/forms';
@import 'modules/menus';

@import 'vendor/slider';

