// Definición de variables de color.
// Colores Corporativos.
$naranjaCorporativo: #ff6600;
$verdeCorporativo: #006633;
$azulCorporativo: #0099cc;
$fucsiaCorporativo: #cc3366;

//Apodos de colores Corporativos.
$naranjaLogo: $naranjaCorporativo;
$verdeLogo: $verdeCorporativo;
$azulLogo: $azulCorporativo;
$fucsiaLogo: $fucsiaCorporativo;

//Fuentes para el documento.
