// Definición de variables de color.
// Colores Corporativos.
$naranjaCorporativo: #ff6600;
$verdeCorporativo: #006633;
$azulCorporativo: #0099cc;
$fucsiaCorporativo: #cc3366;

//Apodos de colores Corporativos.
$naranjaLogo: $naranjaCorporativo;
$verdeLogo: $verdeCorporativo;
$azulLogo: $azulCorporativo;
$fucsiaLogo: $fucsiaCorporativo;

//Paleta de colores General.
$primary: #1779ba;
$secondary: #767676;
$success: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;

//Colores para el texto.
$txtBlanco: #fafafa;
$txtNegro: #141414;
